[Unit]
Description=server
After=network.target

[Service]
User=server
Group=server
WorkingDirectory=/root/fivem/server
ExecStart=/root/fivem/server/server
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
