[Unit]
Description=server
After=network.target

[Service]
User=server
Group=server
WorkingDirectory=/opt/server
ExecStart=/opt/server/server
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
